.articles {
  width: 100%;
  background: $color-background;
  .container {
    padding: 0;
    .row {
      display: flex;
      flex-wrap: wrap;
      margin: $defaultmargin 0;
      //Mobile
      [class^="col-"] {
        border: 1px solid blue;
        min-height: 1px;
        flex-basis: 100%;
        display: flex;
        flex-direction: column;
        .article {
          border: 1px solid red;
          flex-grow: 1;
          background: #fff;
          border-radius: 10px;
          margin: 0.5rem;
          @include boxShadow;
          img {
            width: 100%;
            border-radius: 10px 10px 0 0;
          }
          .content {
            padding: 0 1.5rem;
            h3 {
              font-size: 1.5rem;
              font-weight: 800;
              line-height: 1.5;
              margin-top: 1rem;
            }
            p {
              font-size: 1.2rem;
              font-weight: 300;
              line-height: 2;
              margin-bottom: 1rem;
            }
          }
        }
        //Tablet
        @include tablet {
          flex-basis: auto;
        }
        //Desktop
        @include desktop {
          .article {
            .content {
              h3 {
                font-size: 1.7rem;
              }
              p {
                font-size: 1.3rem;
              }
            }
          }
        }
      }
    }
  }
}
