// Colors:
$color-background: #e4e4e4;
$color-text: #444444;
$color-logo: #fc4887;
$color-accent: #1691c3;

// Width
$max-width: 1200px;

// Breakpoints:
$sm: 576px;
$md: 992px;
$lg: 1024px;

// Mixins
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin boxShadow {
  box-shadow: 0 2px 10px $color-text;
}

//Media queries

@mixin tablet {
  @media (min-width: #{$sm}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$md}) {
    @content;
  }
}
